      <div class="content contact">
        <div class="client-content">
          <section>
            <div class="contactcontent">
              <h1>Contact</h1>
              <form name="contact" method="POST" data-netlify="true">
                <div>
                  <div>
                    <label>Name:</label>
                    <input type="text" name="name" />
                  </div>
                  <div>
                    <label>Email:</label>
                    <input type="email" name="name" />
                  </div>
                  <div>
                    <label>Subject:</label>
                    <input type="text" name="name" />
                  </div>
                </div>
                <div>
                  <div>
                    <label>Message: <textarea name="message"></textarea></label>
                  </div>
                  <div>
                    <button type="submit">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>