      <div class="content">
        <div class="client-content">
          <section>
            <div class="pagecontent">
              <h1>Contribute</h1>
              <p>This history is based on the personal accounts of individuals involved in the development of computer communications – the engineers who innovated the technologies, the entrepreneurs who started companies, the government officials who pursued regulations relating to these industries, and many others involved in the exciting evolution of the technologies of connectivity. But we know there are many more who were involved and who may have their own stories to tell about the events covered in this history.</p>
              <p>For those people who would like to contribute their own perspective on these events, we have created the Facebook Group: History of Computer Communication just for this purpose. Please join and contribute to the collective history of this exciting time.</p>
              <div id="fbgroup">
                <div class="fb-group" 
                    data-href="https://www.facebook.com/groups/629543167635394/" 
                    data-width="280" 
                    data-show-social-context="true" 
                    data-show-metadata="false">
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>