  {%- assign dict = "" -%}
  {%- assign uid = 0 -%}
  {%- if site.market_sectors -%}
    {%- assign marketSectors = site.market_sectors | sort: 'order' -%}
    {%- assign idx = 0 -%}
    {%- for market_sector in marketSectors -%}
      {%- assign idx = idx | plus: 1 -%}
      {%- assign idx2 = 0 -%}
      {%- for item in market_sector.nav -%}
        {%- assign idx2 = idx2 | plus: 1 -%}
        {%- if item.sub-sections -%}
          {%- for section in item.sub-sections -%}
            {%- for s in site.sections -%}
              {%- assign section_id = s.relative_path | remove: "_sections/" | remove: ".md" -%}
              {%- if section_id == section -%}
                {%- assign uid = uid | plus: 1 -%}
                {%- assign section_str = uid | append: '" : "' | append: section_id -%}
                {%- assign section_str = '"' | append: section_str | append: '"' -%}
                {%- assign dict = dict | append: section_str | append: "," -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}  
    {%- endfor -%}
  {%- endif -%}
  {%- if site.companies -%}    
    {%- assign idx = 0 -%}
    {%- assign companies = site.companies | sort: 'order' -%}
    {%- for company in companies -%}
      {%- assign idx = idx | plus: 1 -%}
      {%- assign idx2 = 0 -%}
      {%- for item in company.nav -%}
        {%- assign idx2 = idx2 | plus: 1 -%}
        {%- if item.sub-sections -%}
          {%- for section in item.sub-sections -%}
            {%- for s in site.sections -%}
              {%- assign section_id = s.relative_path | remove: "_sections/" | remove: ".md" -%}
              {%- if section_id == section -%}
                {%- assign uid = uid | plus: 1 -%}
                {%- assign section_str = uid | append: '" : "' | append: section_id -%}
                {%- assign section_str = '"' | append: section_str | append: '"' -%}
                {%- assign dict = dict | append: section_str | append: "," -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if item.nested-nav -%}
          {%- assign idx3 = 0 -%}
          {%- for nested in item.nested-nav -%}
            {%- assign idx3 = idx3 | plus: 1 -%}
              {%- for section in nested.nested-sections -%}
                {%- for s in site.sections -%}
                  {%- if s.id -%}
                    {%- assign section_id = s.relative_path | remove: "_sections/" | remove: ".md" -%}
                    {%- if section_id == section -%}
                      {%- assign uid = uid | plus: 1 -%}
                      {%- assign section_str = uid | append: '" : "' | append: section_id -%}
                      {%- assign section_str = '"' | append: section_str | append: '"' -%}
                      {%- assign dict = dict | append: section_str | append: "," -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}  
    {%- endfor -%}
  {%- endif -%}
{%- assign dict = dict | append: "-@" | remove: ",-@" -%}
<script>var link_count = { {{ dict }} };</script>