            <div class="pagecontent">
              <h1>How To Explore This Site</h1>
              <h2>Readers can explore this site by navigating the four major headings found in the navigation panel:</h2>
              <h3>1. Table of Contents</h3>
              <p>A chronological outline of the site contents, including background history of the computer and telecommunications industries, market analysis of the three markets studied, and other supporting documents.</p>
              <h3>2. Market Sector</h3>
              <p>A presentation of the material organized by the three markets studied:</p>
              <ul class="mrkt">
                <li>The <span>Data Communications</span> market emerged between 1968 and 1972 after the Carterfone decision by the Federal Communication Commission in 1968 and is defined by two major technologies and product categories: modems and multiplexers.</li>
                <li>The <span>Networking</span> market emerged between 1979 and 1982 when firms introduced local area networks (LANs) and data PBXs in response to the needs of corporations to interconnect their growing base of computers and peripherals.</li>
                <li>The <span>Internetworking</span> market emerged between 1984 and 1988 from the need of corporations to interconnect their LANs into wide area networks (WANs).</li>
              </ul>
              <h3>3. Companies/Organizations</h3>
              <p>Access the material via the startups and incumbents in the three industries as well as other institutions and organizations that had an impact on these industries.</p>
              <h3>4. Interview Transcripts</h3>
              <p>Readers may browse the list of individuals interviewed and view their bios as well as link to transcripts of the interviews in the <a href="https://www.computerhistory.org/collections/catalog/102746648" target="_blank">James L. Pelkey Oral History Collection</a> at the Computer History Museum website.</p>
              <p>The individuals interviewed are also listed by company/organization</p>
              <br>
              <h3>Custom Search</h3>
              <p>Additionally, users can search the site using the custom search field at the top right of each page.</p>
              <h3>Example</h3>
              <p>The section <a href="/section/9.9/robert-metcalfe-and-the-founding-of-3com/" class="smt">9.9 Robert Metcalfe and the founding of 3Com</a> can be accessed in each of the three main navigational headings:</p>
              <ul>
                <li><a href="" class="darkgray">Table of Contents</a>/Chapter 9/9.9</li>
                <li><a href="" class="darkgray">Market Sector</a>/Networking/Market Emergence/9.9</li>
                <li><a href="" class="darkgray">Companies & Organizations</a>/Startups/Networking/3Com/9.9</li>
              </ul>
              <p>The transcript of the Robert Metcalfe interview can be found in the fourth navigational heading Interview Transcripts.</p>
              <ul>
                <li><a href="" class="darkgray">Interview-transcripts</a>/Alphabetical Listing/Metcalfe, Robert</li>
                <li><a href="" class="darkgray">Interview-transcripts</a>/Listing by Company/Organization/Startups/Networking/3Com/Robert Metcalfe</li>
              </ul>
              <p>Readers can also search <i>Robert Metcalfe</i> or <i>3Com</i> in the <a href="" class="noul">Custom Search</a></p>
            </div>