  <footer>
    <div id="footwrap">
      <div id="footleft">
        <div id="footleftcontent">
          <img src="/assets/img/footer-book.png" alt="book" id="book" />
          <div>
            <h3>Circuits, Packets & Protocols</h3>
            <ul>
              <li>Now Available in Hardback, Paperback, & eBook!</li>
              <li>A newly-edited history based on material from this site</li>
            </ul>
            <a href="" class="preorder">Learn More</a>
          </div>
        </div>
        <div id="footleftbtm">© 2021 History of Computer Communications</div>
      </div>
      <img src="/assets/img/separator.png" class="vertsep" />
      <div id="footmid">
        <div id="additional">
          <h3>Additional Information</h3>
          <ul>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <img src="/assets/img/separator.png" class="vertsep" />
      <div id="footright">
        <div>
          <a href="https://computerhistory.org/" target="_blank">
            <img src="/assets/img/chm.svg" id="chm" >
          </a>
          <a href="https://www.acm.org/" target="_blank">
            <img src="/assets/img/acm.png" width="165" height="58" />
          </a>
        </div>
      </div>
      <div id="footbtmmob">© 2021 History of Computer Communications</div>
    </div>
  </footer>