<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  {% comment %}{% seo %}{% endcomment %}
  <title>{{ page.title }} | History of Computer Communications</title>
  <link rel="canonical" href="https://historyofcomputercommunications.info{{ page.url }}">
  {%- if page.description -%}
  <meta name="description" content="{{ page.description }}">
  {%- endif -%}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-9433921-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-9433921-6');
</script>
	<!-- End Google Analytics -->
	
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MWTDCL7');</script>
<!-- End Google Tag Manager -->
  <link rel="stylesheet" href="https://use.typekit.net/zxm4sio.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/main.css">
  {%- include_cached count.html -%}
</head>
