        <div id="homecontent">
          <div id="hometopwrap">
        	<svg class="Rectangle_12_h">
        		<radialGradient id="Rectangle_12_h" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
        			<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
        			<stop offset="1" stop-color="#b9e3ef" stop-opacity="1"></stop>
        		</radialGradient>
        		<rect fill="url(#Rectangle_12_h)" id="Rectangle_12_h" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
        		</rect>
        	</svg>
        	<svg class="Rectangle_58_j">
        		<linearGradient id="Rectangle_58_j" spreadMethod="pad" x1="0.5" x2="0.5" y1="0.702" y2="1">
        			<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
        			<stop offset="1" stop-color="#0f262c" stop-opacity="1"></stop>
        		</linearGradient>
        		<rect fill="url(#Rectangle_58_j)" id="Rectangle_58_j" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
        		</rect>
        	</svg>
            <div id="hometop">
              <div id="hometopbox">
                <h2>The History of Computer Communications</h2>
                <p>Based on over 80 interviews of entrepreneurs, engineers, executives, and government regulators, this website chronicles the stories of early startups in the fields of data communications, local area networking, and internetworking. A collection of first-person accounts, market data, and historical narrative, The History of Computer Communications is an excellent source of information for both students and professors of computer science, business, and history, as well as for anyone interested in the compelling stories of the entrepreneurs that laid the foundations for our globally connected world.</p>
              </div>
              <div id="homequote">
                <blockquote><p>This site is a must read for anyone interested in entrepreneurship, innovation and the history of the technologies that gave birth to the Internet.</p></blockquote>
                <div id="belowquote">Al Gore – <i>Inventor of the Internet</i></div>
              </div>
            </div>
          </div>
          <div id="homemid">
            <div id="homebook">
              <img src="{{ site.baseurl }}/assets/img/book.png" alt="Circuits, Packets & Protocols">
              <div>
                <h2>Circuits, Packets & Protocols</h2>
                <p>Entrepreneurship and the emerging technologies of data communications, networking and internetworking</p>
                <h3>A newly edited history based on material from this site</h3>
                <h3>Coming this Fall in hardback</h3>
                <a href="" class="preorder">Preorder Book</a>
              </div>
            </div>
            <div id="homebtm">
              <p>It is hard to imagine, but as recent as the 1960s, computer scientists were uncertain how best to interconnect even two computers. The notion that within a few decades the challenge would be how to interconnect millions of computers around the globe was too farfetched to even contemplate. Yet by 1988 that is precisely what was happening. The products and protocols through which they communicated would look crude and incomplete by today’s standards, but they worked well enough to demonstrate the latent productivity in sharing information across the growing internetwork of networks.</p>
              <p>How did such revolutionary innovation occur?<br><br>
        Why were the two dominant corporations in telecommunications and computers, AT&T and IBM, the two icons of corporate innovation at that time, left surviving as marginal market participants?<br><br>
        How had entrepreneurs seized market leadership?<br><br>
        Follow the stories of this history and see for yourself…</p>
            </div>
          </div>
        </div>