        <div id="homecontent">
          <div id="hometopwrap">
        	<svg class="Rectangle_12_h">
        		<radialGradient id="Rectangle_12_h" spreadMethod="pad" x1="0" x2="0" y1="0" y2="0">
        			<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
        			<stop offset="1" stop-color="#b9e3ef" stop-opacity="1"></stop>
        		</radialGradient>
        		<rect fill="url(#Rectangle_12_h)" id="Rectangle_12_h" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
        		</rect>
        	</svg>
        	<svg class="Rectangle_58_j">
        		<linearGradient id="Rectangle_58_j" spreadMethod="pad" x1="0.5" x2="0.5" y1="0.702" y2="1">
        			<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
        			<stop offset="1" stop-color="#0f262c" stop-opacity="1"></stop>
        		</linearGradient>
        		<rect fill="url(#Rectangle_58_j)" id="Rectangle_58_j" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
        		</rect>
        	</svg>
            <div id="hometop">
              <div id="hometopbox">
                <h2>The History of Computer Communications</h2>
                <p>Based on over 80 interviews of entrepreneurs, engineers, executives, and government regulators, this website chronicles the stories of early startups in the fields of data communications, local area networking, and internetworking. A collection of first-person accounts, market data, and historical narrative, <b><i>The History of Computer Communications</i></b> is an excellent source of information for students and professors of computer science, business, and history, as well as anyone interested in the compelling stories of the entrepreneurs that laid the foundations for our globally connected world.</p>
              </div>
              <div id="homequote">
                <blockquote><p>This website is indispensable for anyone who shares James Pelkey's curiosity about the motivations, approaches, conflicts, and compromises of the researchers, engineers, entrepreneurs, managers, and regulators who interacted with growing numbers of clients and customers to create the digital communications networks.</p></blockquote>
                <div id="homequote-name">Alexander B. Magoun,</div>
                <div id="homequote-title">Ph.D., IEEE History Center</div>
              </div>
            </div>
          </div>
          <div id="homemid">
            <div id="homebook">
              <img src="/assets/img/book.png" alt="Circuits, Packets & Protocols">
              <div>
                <h2>Circuits, Packets & Protocols</h2>
                <p>Entrepreneurship and the emerging technologies of data communications, networking, and internetworking</p>
                <h3>A newly edited history based on material from this site</h3>
                <h3>Coming this Fall in hardback</h3>
                <!--<a href="" class="preorder">Preorder Book</a>-->
              </div>
            </div>
            <div id="homebtm">
              <p>It is hard to imagine, but as recently as the 1960s, computer scientists were uncertain how best to interconnect even two computers. At that time, the notion that by the late 1980s the challenge would be how to interconnect millions of computers around the globe seemed as far-fetched as <b>JCR Licklider’s “intergalactic computer network.”</b> Yet even by today’s standards, the work of these early pioneers produced an unprecedented level of technological innovation and initiated a massive inflection point in the economic and social history of the globe.</p>
              <p>This history follows the origins of computer networks, as the world moved from a telecommunication system based on analogue circuit connections, to a digital, globally distributed network of networks. The questions this research attempts to answer include:</p>
              <ul class="homelist">
                <li>How did such revolutionary innovation occur?</li>
                <li>How did these early tech startups like Codex, NET, 3Com and Cisco seize market leadership?</li>
                <li>Why were the two dominant corporations in telecommunications and computers, AT&T and IBM, only marginal market participants?</li>
              </ul>
              <p>Beginning with the first cracks in the decades-old telecommunications monopoly of <b>AT&T</b>, the history follows the entrepreneurs who saw opportunity in the FCC’s decision to allow access to the Bell System’s communication lines. Included in these early ventures were <b>American Data Systems, General DataComm, Vadic,</b> and other startups founded to innovate modems, multiplexers, and other products in the emerging market of <b>data communications</b>.</p>
              <p>The technical and logistical challenges of the government-sponsored <b>Arpanet</b> project are colorfully reconstructed from the author’s interviews of many of the key contributors to this precursor to today’s Internet, including <b>Paul Baran, JCR Licklider, Robert Taylor, Larry Roberts, Vint Cerf,</b> and <b>Robert Kahn</b>, as well as many others.</p>
              <p>In contrast to the de-regulation that gave birth the data communications market, the <b>local area networking</b> market evolved out of the technical innovation of many key engineers like <b>Gordon Bell</b> of <b>DEC, Ethernet</b> inventor and <b>3Com</b> founder, <b>Robert Metcalfe</b>, token ring innovator <b>Dave Farber</b>, and startup founders including <b>Ralph Ungermann, Judith Estrin, Bill Carrico</b> and many others. The testimonies of these pioneers illustrate the challenges of bringing to market new technologies before a large market for them existed, and the tenacity they needed to manifest their visions for radically changing the future of computing.</p>
              <p>The history culminates with two important 1988 tradeshows where vendors and government sponsored agencies touted the future of internetworking products. At the time, the <b>internetworking</b> market was only a fraction of what it would become, but the origin stories of startups like <b>Retix, Wellfleet</b> and <b>Cisco</b> are early examples of the high stakes model of venture-backed successes and failures in what would become a global tech industry.</p>
              <p>Taken on their own, these first-person accounts offer a rare insider’s perspective of the entrepreneur’s journey – creating innovation, establishing market fit, securing funding, rapid scaling, and adapting to meet future markets. Taken together, this broad collection of research provides a unique cross-section of the early industries of computer communications, bringing the reader into the boardrooms and engineering labs of the companies that innovated the modems, network adapters, and routers that are commonplace essentials of communication as we know it today.</p>
              <p>The history presented on this website draws heavily from the words of the individuals themselves, giving the reader ample passages from each of the interview transcripts in the <b>James L. Pelkey Collection</b> at the <b>Computer History Museum</b>. The site also contains additional background material relating to this history, including chapters on the telecommunications and computer industries before 1968, market analysis of each of the industries examined, additional primary source documents, and more. The site is an excellent companion to the <b>ACM</b> book, <b>“Circuits, Packets & Protocols,”</b> which is a slightly abbreviated version of the history with additional commentary, published in hardback, paperback, and digitally as part of the ACM Books collection.</p>
            </div>
          </div>
        </div>