    {%- assign sections = site.sections | sort: 'order' -%}
    {%- assign interviews = site.interviews | sort: 'order' -%}
      <div class="sidenav notready">
        <input type="hidden" id="custId" value="">
        <h1>Explore</h1>
        <div class="hr"></div>
        <ul class="nav__list" >
          <li>
            <input id="table-of-contents" type="checkbox" name="nav" hidden />
            <label for="table-of-contents">
              <div>Table Of Contents</div>
              <svg xmlns="http://www.w3.org/2000/svg" >
                <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
              </svg>
            </label>
        {%- if site.chapters -%}
            <ul class="group-list">
          {%- for chapter in site.chapters -%}
            {%- assign prevsubtitle = '' -%}
              <li>
                <input id="chapter-{{chapter.chapter}}" type="checkbox" name="subnav" hidden />
                <label for="chapter-{{chapter.chapter}}" {%- if chapter.appendix -%}class="nonum"{%- endif -%}>
                  <div>{{chapter.title}}</div>
                  <svg xmlns="http://www.w3.org/2000/svg" >
                    <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                  </svg>
                </label>
            {%- if site.sections -%}
                <ul class="sub-group-list">
              {%- for section in sections -%}
                {%- if section.chapter == chapter.chapter -%}
                  {%- if section.subtitle -%}
                    {%- if section.subtitle != prevsubtitle -%}
                      {%- assign prevsubtitle=section.subtitle -%}
                  <li class="subtitle">{{- section.subtitle -}}</li>
                    {%- endif -%}
                  <li class="subsection"><a href="{{section.url}}" id="{{- section.relative_path | remove: '_sections/' | remove: '.md' -}}" >{{section.title}}</a></li>
                  {%- elsif section.nested-title -%}
                    {%- if section.nested-index == 'first' -%}
                  <li>
                    <input id="nested{{- section.id | replace: '/section/' -}}" type="checkbox" hidden />
                    <label for="nested{{- section.id | replace: '/section/' -}}">
                      <div>{{- section.nested-title -}}</div>
                      <svg xmlns="http://www.w3.org/2000/svg" >
                        <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                      </svg>
                    </label>
                    <ul class="sub-sub-group-list">
                      <li><a id="{{- section.relative_path | remove: '_sections/' | remove: '.md' -}}" href="{{- section.id -}}/" >{{- section.title -}}</a></li>
                    {%- elsif section.nested-index == 'last' -%}
                      <li><a id="{{- section.relative_path | remove: '_sections/' | remove: '.md' -}}" href="{{- section.id -}}/" >{{- section.title -}}</a></li>
                    </ul>
                  </li>
                    {%- else -%}
                      <li><a id="{{- section.relative_path | remove: '_sections/' | remove: '.md' -}}" href="{{- section.id -}}/" >{{- section.title -}}</a></li>
                    {%- endif -%}
                  {%- else -%}
                  <li><a href="{{section.url}}" id="{{- section.relative_path | remove: '_sections/' | remove: '.md' -}}" >{{section.title}}</a></li>
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
                </ul>
            {%- endif -%}
              </li>
          {%- endfor -%}
            </ul>
        {%- endif -%}
          </li>
          {%- assign uid = 0 -%}
          {%- if site.market_sectors -%}
          <li>
            <input id="market-sector" type="checkbox" name="nav" hidden />
            <label for="market-sector">
              <div>Market Sector</div>
              <svg xmlns="http://www.w3.org/2000/svg" >
                <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
              </svg>
            </label>
            <ul class="group-list">
            {%- assign marketSectors = site.market_sectors | sort: 'order' -%}
            {%- assign idx = 0 -%}
            {%- for market_sector in marketSectors -%}
              {%- assign idx = idx | plus: 1 -%}
              {%- assign idx2 = 0 -%}
              <li>
                <input id="sub-group-00{{- idx -}}" type="checkbox" name="subnav" hidden />
                <label for="sub-group-00{{- idx -}}" class="nonum">
                  <div>{{- market_sector.title -}}</div>
                  <svg xmlns="http://www.w3.org/2000/svg" >
                    <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                  </svg>
                </label>
                <ul class="sub-group-list">
              {%- for item in market_sector.nav -%}
                {%- assign idx2 = idx2 | plus: 1 -%}
                {%- assign nest-status = "" -%}
                  <li>
                    <input id="sub-sub-group-{{- idx -}}-{{- idx2 -}}" type="checkbox" hidden />
                    <label for="sub-sub-group-{{- idx -}}-{{- idx2 -}}">
                      <div>{{- item.heading -}}</div>
                      <svg xmlns="http://www.w3.org/2000/svg" >
                        <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                      </svg>
                    </label>
                {%- if item.sub-sections -%}
                    <ul class="sub-sub-group-list">
                  {%- assign prevsubtitle = '' -%}
                  {%- for section in item.sub-sections -%}
                    {%- assign sub_section = "" -%}
                    {%- assign sub_section_title = "" -%}
                    {%- assign subtitle = "" -%}
                    {%- assign sub_id = "" -%}
                    {%- assign sub_url = "" -%}
                    {%- for s in sections -%}
                      {%- assign section_id = s.relative_path | remove: "_sections/" | remove: ".md" -%}
                      {%- if section_id == section -%}
                        {%- assign sub_section = section -%}
                        {%- assign uid = uid | plus: 1 -%}
                        {%- assign sub_section_title = s.title -%}
                        {%- assign sub_id = s.id -%}
                        {%- assign sub_url = s.url -%}
                        {%- if s.subtitle -%}
                          {%- assign subtitle = s.subtitle -%}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endfor -%}
                    {%- if section.nested-index -%}
                      {%- if section.nested-index == "first" -%}
                        {%- assign nest-status = "active" -%}
                      <li class="subtitle">{{ section.nested-title }}</li>
                      {%- elsif section.nested-index == "last" -%}
                        {%- assign nest-status = "" -%}
                      {%- endif -%}
                    {%- elsif subtitle != "" -%}
                      {%- if subtitle != prevsubtitle -%}
                        {%- assign prevsubtitle=subtitle -%}
                      <li class="subtitle">{{- subtitle -}}</li>
                      {%- endif -%}
                      <li class="subsection"><a href="{{ sub_url }}" id="subsection{{- sub_id | remove: '/section/' -}}" >{{ sub_section_title }}</a></li>
                    {%- else -%}
                      <li {% if nest-status == "active" %} class="subsection"{% endif %}>
                        <a name="section{{- uid -}}" href="{{- sub_url -}}#{{- uid -}}">{{- sub_section_title -}}</a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                    </ul>
                {%- endif -%}
                  </li>
              {%- endfor -%}  
                </ul>
              </li>
            {%- endfor -%}
            </ul>
          </li>
          {%- endif -%}
          {%- if site.companies -%}
          <li>
            <input id="companies-organization" type="checkbox" name="nav" hidden />
            <label for="companies-organization">
              <div>Companies/Organization</div>
              <svg xmlns="http://www.w3.org/2000/svg" >
                <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
              </svg>
            </label>
            <ul class="group-list">
            {%- assign idx = 0 -%}
            {%- assign idx4 = 0 -%}
            {%- assign companies = site.companies | sort: 'order' -%}
            {%- for company in companies -%}
              {%- assign idx = idx | plus: 1 -%}
              <li>
                <input id="sub-group-000{{- idx -}}" type="checkbox" name="subnav" hidden />
                <label for="sub-group-000{{- idx -}}" class="nonum">
                  <div>{{- company.title -}}</div>
                  <svg xmlns="http://www.w3.org/2000/svg" >
                    <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                  </svg>
                </label>
                <ul class="sub-group-list">
                {%- assign idx2 = 0 -%}
                {%- for item in company.nav -%}
                  {%- assign idx2 = idx2 | plus: 1 -%}
                  <li>
                    <input id="sub-sub-group-0{{- idx -}}-{{- idx2 -}}" type="checkbox" hidden />
                    <label for="sub-sub-group-0{{- idx -}}-{{- idx2 -}}">
                      <div>{{- item.heading -}}</div>
                      <svg xmlns="http://www.w3.org/2000/svg" >
                        <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                      </svg>
                    </label>
                  {%- if item.sub-sections -%}
                    <ul class="sub-sub-group-list">
                    {%- for section in item.sub-sections -%}
                      {%- if section contains "int" -%}
                        {%- assign intrvw = section | remove: "int" -%}
                        {%- for i in interviews -%}
                          {%- assign interview_id = i.id | remove: "/interview/" -%}
                          {%- if interview_id == intrvw -%}
                      <li><a href="{{- i.id -}}/">{{- i.title -}}</a></li>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- else -%}
                        {%- for s in sections -%}
                          {%- assign section_id = s.relative_path | remove: "_sections/" | remove: ".md" -%}
                          {%- if section_id == section -%}
                            {%- assign uid = uid | plus: 1 -%}
                      <li><a name="section{{- uid -}}" href="{{- s.url -}}#{{- uid -}}">{{- s.title -}}</a></li>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  {%- if item.nested-nav -%}
                    <ul class="sub-sub-group-list">
                    {%- assign idx3 = 0 -%}
                    {%- for nested in item.nested-nav -%}
                      {%- assign idx4 = idx4 | plus: 1 -%}
                      {%- assign idx3 = idx3 | plus: 1 -%}
                      <li>
                        <input id="sub-sub-sub-group-{{- idx4 -}}-{{- idx -}}-{{- idx3 -}}" type="checkbox" hidden />
                        <label for="sub-sub-sub-group-{{- idx4 -}}-{{- idx -}}-{{- idx3 -}}">
                          <div>{{- nested.nested-heading -}}</div>
                          <svg xmlns="http://www.w3.org/2000/svg" >
                            <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                          </svg>
                        </label>
                        <ul class="sub-sub-group-list">
                        {%- for section in nested.nested-sections -%}
                          {%- for s in sections -%}
                            {%- assign section_id = s.relative_path | remove: "_sections/" | remove: ".md" -%}
                            {%- if section_id == section -%}
                              {%- assign uid = uid | plus: 1 -%}
                          <li><a name="section{{- uid -}}" href="{{- s.url -}}#{{- uid -}}">{{- s.title -}}</a></li>
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endfor -%}
                        </ul>
                      </li>
                    {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  </li>
                {%- endfor -%}  
                </ul>
              </li>
            {%- endfor -%}
            </ul>
          </li>
          {%- endif -%}
          {%- if site.interviews -%}
          <li>
            <input id="interview-transcripts" type="checkbox" name="nav" hidden />
            <label for="interview-transcripts">
              <div>Interview-transcripts</div>
              <svg xmlns="http://www.w3.org/2000/svg" >
                <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
              </svg>
            </label>
            <ul class="group-list">
              <li>
                <input id="sub-group-0000_1" type="checkbox" name="subnav" hidden />
                <label for="sub-group-0000_1" class="nonum">
                  <div>Alphabetical Listing</div>
                  <svg xmlns="http://www.w3.org/2000/svg" >
                    <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                  </svg>
                </label>
                <ul class="sub-group-list">
            {%- for interview in interviews -%}
              {%- assign fullname = interview.title | split: " " -%}
              {%- if fullname[2] and fullname[2] == '&' -%}
                {%- assign heading = fullname[1] | append: ", " | append: fullname[0] | append: " & " | append: fullname[4] | append: ", " | append: fullname[3] -%}
              {%- else -%}
                {%- assign last_name = fullname[-1] -%}        
                {%- assign first_name = fullname | pop -%}
                {%- assign first_name = first_name | join: " " -%}
                {%- assign heading = last_name | append: ", " | append: first_name -%}
              {%- endif -%}
                  <li><a href="{{- interview.id -}}/" id="int{{- interview.id | remove: '/interview/' -}}" >{{- heading -}}</a></li>
            {%- endfor -%}
                </ul>
              </li>
            {%- if site.interview_organizations -%}
              <li>
                <input id="sub-group-0000_2" type="checkbox" name="subnav" hidden />
                <label for="sub-group-0000_2" class="nonum">
                  <div>Listing by Company/Organization</div>
                  <svg xmlns="http://www.w3.org/2000/svg" >
                    <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                  </svg>
                </label>
                <ul class="group-list">
                {%- assign idx = 0 -%}
                {%- assign idx4 = 0 -%}
                {%- assign interview_orgs = site.interview_organizations | sort: 'order' -%}
                {%- for org in interview_orgs -%}
                  {%- assign idx = idx | plus: 1 -%}
                  <li>
                    <input id="sub-group-00000{{- idx -}}" type="checkbox" hidden />
                    <label for="sub-group-00000{{- idx -}}" class="nonum">
                      <div>{{- org.title -}}</div>
                      <svg xmlns="http://www.w3.org/2000/svg" >
                        <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                      </svg>
                    </label>
                    <ul class="sub-group-list">
                    {%- assign idx2 = 0 -%}
                    {%- for item in org.nav -%}
                      {%- assign idx2 = idx2 | plus: 1 -%}
                      <li>
                        <input id="sub-sub-group-000{{- idx -}}-{{- idx2 -}}" type="checkbox" hidden />
                        <label for="sub-sub-group-000{{- idx -}}-{{- idx2 -}}">
                          <div>{{- item.heading -}}</div>
                          <svg xmlns="http://www.w3.org/2000/svg" >
                            <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                          </svg>
                        </label>
                      {%- if item.sub-sections -%}
                        <ul class="sub-sub-group-list">
                        {%- for interview in item.sub-sections -%}
                          {%- for i in interviews -%}
                            {%- assign section_id = i.id | remove: "/interview/" -%}
                            {%- assign section_id = i.relative_path | remove: "_interviews/" | remove: ".md" -%}
                            {%- if section_id == interview -%}
                              {%- assign uid = uid | plus: 1 -%}
                          <li><a name="int{{- uid -}}" href="{{- i.id -}}/#{{- uid -}}">{{- i.title -}}</a></li>
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      {%- if item.nested-nav -%}
                        <ul class="sub-sub-group-list">
                        {%- assign idx3 = 0 -%}
                        {%- for nested in item.nested-nav -%}
                          {%- assign idx4 = idx4 | plus: 1 -%}
                          {%- assign idx3 = idx3 | plus: 1 -%}
                          <li>
                            <input id="sub-sub-sub-group-0{{- idx4 -}}-{{- idx -}}-{{- idx3 -}}" type="checkbox" hidden />
                            <label for="sub-sub-sub-group-0{{- idx4 -}}-{{- idx -}}-{{- idx3 -}}">
                              <div>{{- nested.nested-heading -}}</div>
                              <svg xmlns="http://www.w3.org/2000/svg" >
                                <path d="M.8.6l4.1 5.1-4.1 5.2" fill="none" stroke="#7E7E7E" stroke-width="1"/>
                              </svg>
                            </label>
                            <ul class="sub-sub-group-list">
                            {%- for interview in nested.nested-sections -%}
                              {%- for i in interviews -%}
                                {%- if i.id -%}
                                  {%- assign section_id = i.relative_path | remove: "_interviews/" | remove: ".md" -%}
                                  {%- if section_id == interview -%}
                                    {%- assign uid = uid | plus: 1 -%}
                              <li><a name="int{{- uid -}}" href="{{- i.id -}}/#{{- uid -}}">{{- i.title -}}</a></li>
                                  {%- endif -%}
                                {%- endif -%}
                              {%- endfor -%}
                            {%- endfor -%}
                            </ul>
                          </li>
                        {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      </li>
                    {%- endfor -%}  
                    </ul>
                  </li>
                {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
            </ul>
          </li>
          {%- endif -%}
        </ul>
      </div>