:root {
  --bg-blue: #03485C;
  --sidebar-bg: #E8E8E8;
  --gray: #7E7E7E;
  --gray-next: #626262;
  --gray-dark: #5F5F5F;
  --gray-darker: #414141;
  --hovered: #F4F4F4;
  --selected: #FCFCFC;
}
* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
html {
  background-color: var(--bg-blue);
}
body {
  font-family: zenon,sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
nav {
  background-color: var(--bg-blue);
  width: 100%;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  z-index: 3;
  height: auto;
}
.navwrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #003A4B;
  z-index: 4;
}
.navwrap > a.logo {
  color: #fff;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  height: 38px;
  padding: 8px 0px;
}
.navwrap > a.logo > div.mobile-up {
  display: none;
}
.navwrap > a.logo > div.mobile-only {
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}
.navbar > a {
  height: 37px;
  padding: 6px 10px 0 10px;
  text-decoration: none;
  border-top: 3px solid transparent;
  display:inline-block;
  text-align:center;
  font-size: 15px;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  color: rgba(255,255,255,0.8);
}
.navbar > a::before {
  display: block;
  content: attr(title);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.navbar > a:hover,
.navbar > a.active {
  background-color: #fff;
  color: #003A4B;
  padding: 6px 10px 0 10px;
}
.navbar > a.active {
  border-top: 3px solid #fff;
  font-weight: 700;
}
svg#vertical {
  /*background-image: -webkit-linear-gradient(top, transparent, #fff, transparent);
  background-image: -moz-linear-gradient(top, transparent, #fff, transparent);
  background-image: -ms-linear-gradient(top, transparent, #fff, transparent);
  background-image: -o-linear-gradient(top, transparent, #fff, transparent);
  background-image: linear-gradient(top, transparent, #fff, transparent);*/
  margin: 0 14px 0 0;
  width: 1px;
  height: 30px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 37px;
  margin-left: 14px;
}
.search > img {
  margin-right: 8px;
  width: 19px;
  height: 19px;
}
.search > input[type="text"] {
  color: #fff;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 100%;
  padding-right: 10px;
}
.search ::placeholder {
  color: #fff;
}
.search ::-webkit-input-placeholder {
  color: #fff;
}
.search ::-moz-placeholder {
  color: #fff;
}
.search :-moz-placeholder {
  color: #fff;
}
.search > input[type="text"]:focus {
  outline: none;
  opacity: 1;
}
.search input:focus::-webkit-input-placeholder,
.search input:focus::placeholder {
    color: transparent;
}
.search > input:hover {
  opacity: 1;
}
#menutab {
  position: sticky;
  top: 0;
  background-color: #fff;
  margin-left: 27px;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  width:58px;
  height: 49px;
  border-bottom-right-radius:6px;
  border-bottom-left-radius:6px;
  display: flex;
  justify-content: center;
  align-items:center;
  z-index: 3;
  cursor: pointer;
   pointer-events: all;
}
/* menu spin */
.burg {
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.burg.is-active .burg-inner,
.burg.is-active .burg-inner::before,
.burg.is-active .burg-inner::after {
  background-color: var(--bg-blue); 
}
.burg-box {
  width: 26px;
  height: 12.414px;
  display: inline-block;
  position: relative;
}
.burg-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.burg-inner,
.burg-inner::before,
.burg-inner::after {
  width: 26px;
  height: 3px;
  background-color: var(--bg-blue);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.burg-inner::before,
.burg-inner::after {
  content: "";
  display: block;
}
.burg-inner::before {
  top: -8px;
}
.burg-inner::after {
  bottom: -8px;
}
.burg--spin .burg-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .burg--spin .burg-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .burg--spin .burg-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.burg--spin.is-active .burg-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .burg--spin.is-active .burg-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .burg--spin.is-active .burg-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
#menutab > svg {
  width: 26px;
}
/* end menu spin */

/* sidemenu */
.main {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
#stickyside {
  position: absolute;
  left: 0;
  top: 0;
  width: 330px;
  height: 100%;
  pointer-events: none;
}
.sidebar {
  position: absolute;
  top: 0;
  left: -330px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--sidebar-bg) !important;
  box-shadow: none;
  pointer-events: all;
}
.animated {
  transition: 0.4s;  
}
.sidebar.slide-in-left  {
  left: 0;
  opacity: 1;
  box-shadow: 6px -1px 12px rgba(0,0,0,0.16);
}
.sidenav {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: scroll;
  max-height: 100vh;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  padding: 50px 0px 87px 27px;
  pointer-events: all;
}
.sidenav.notready {
  opacity: 0;
}
.sidenav.ready {
  opacity: 1;
  animation: fadein 0.75s;
  -moz-animation: fadein 0.75s; /* Firefox */
  -webkit-animation: fadein 0.75s; /* Safari and Chrome */
  animation-timing-function: ease-in;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
.sidenav::-webkit-scrollbar {
  display: none;
}
.sidenav ul,
.sidenav li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
.sidenav li.subsection {
  margin-left: 10px;
}
.sidenav ol,
.sidenav ul {
  list-style: none
}

/**
 * Hidden fallback
 */
[hidden] {
  display: none;
  visibility: hidden;
}
.sidenav > h1 {
  color: var(--bg-blue);
  margin: 10px 0 10px 0px;
  font-size: 24px;
  font-weight: 800;
  line-height: 16px;
}
.hr {
  border: none;
  height: 2px;
  max-width: 316px;
  background-color: var(--bg-blue);
  margin: 5px 0px 16px 0px;
}
ul.nav__list {
  line-height: 16px;
}
/**
 * Styling top level items
 */
.sidenav a,
.sidenav label {
  display: block;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
.sidenav a,
.sidenav label {
  text-decoration: none;
}
.sidenav a:focus, .sidenav a:hover,
.sidenav label:focus,
.sidenav label:hover {

}
.sidenav label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.sidenav li > label > div {
  width: calc(100% - 18px);
  padding-right: 10px;
}
.sidenav li > label > a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.sidenav li > label > a > div {
  width: 100%;
  padding-right: 10px;
}
.sidenav label svg {
  width: 14px;
  height: 14px;
}
.nav__list > li > input[type=checkbox] + label {
  color: var(--gray);
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 12px;
  padding-right: 25px;
}
.nav__list > li > input[type=checkbox] + label > svg path {
  stroke-width: 3;
}
.nav__list > li > input[type=checkbox]:hover + label,
.nav__list > li > input[type=checkbox]:focus + label {
  color: var(--gray-dark);
}
.nav__list > li > input[type=checkbox]:hover + label > svg path,
.nav__list > li > input[type=checkbox]:focus + label > svg path {
  stroke: var(--gray-dark);
  stroke-width: 2;
}

/**
 * Styling first level lists items
 */
.group-list a,
.group-list label {
  padding: 0 25px 12px 28px;
  color: var(--gray-dark);
  font-weight: 600;
}
.group-list a:focus, .group-list a:hover,
.group-list label:focus,
.group-list label:hover {
  color: var(--gray-darker);
}
.group-list > li > input[type=checkbox] + label > svg path {
  stroke: var(--gray-dark);
}
.group-list > li > input[type=checkbox]:hover + label > svg path {
  stroke: var(--gray-darker);
}
.group-list > li > input[type=checkbox]:checked + label > svg path,
.group-list > li > input[type=checkbox]:checked + label > svg path,
.group-list > li > input[type=checkbox]:checked:hover + label > svg path,
.group-list > li > input[type=checkbox]:checked:focus + label > svg path {
  stroke: var(--bg-blue);
  stroke-width:2;
}
/* customer numbering for ul */
ul.group-list {
  counter-reset: item;
}
ul.group-list > li {
  color: var(--gray-dark);
  counter-increment: item;
  position: relative;
}
ul.group-list > li:hover,
ul.group-list > li:focus {
  color: var(--gray-darker);
}
ul.group-list > li.subtitle:hover,
ul.group-list > li.subtitle:focus {
  color: var(--gray-dark);
}
ul.group-list > li > label::before {
  content: counter(item)":";
  position: absolute;
  left: -4px;
  top: 0;
  text-align: right;
  width:28px;
}
ul.group-list > li > label.nonum::before {
  content: "" !important;
}
/* end customer numbering for ul */

/**
 * Styling second level list items
 */
.sub-group-list a,
.sub-group-list label {
  color: var(--gray-next);
  font-weight: 400;
  margin-left: 30px;
  line-height: 20px;
  padding: 8px 25px 8px 12px;
}
/*.sub-group-list label:hover,*/
.sub-group-list a:focus, .sub-group-list a:hover,
.sub-group-list label:focus {
  background-color: var(--hovered);
  color: var(--gray-darker);
}

.sub-group-list a.selected {
  background-color: var(--selected);
  color: var(--bg-blue);

}
/**
 * Styling third level list items
 */
.sub-sub-group-list a,
.sub-sub-group-list label {
  padding-left: 28px;
}
.sub-sub-group-list a:focus, .sub-sub-group-list a:hover,
.sub-sub-group-list label:focus,
.sub-sub-group-list label:hover {
  background-color: var(--hovered);
  color: var(--gray-darker);
}
/**
 * Hide nested lists
 */
.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}

.nav__list input[type=checkbox]:checked + label + ul {
  /* reset the height when checkbox is checked */
  max-height: 5000px; /* must be higher than div will expand to work */
  margin-bottom: 10px;
}

/**
 * Rotating chevron icon
 */
.sidenav svg path {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
label > svg {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.nav__list input[type=checkbox]:checked + label > svg {
  -webkit-transform: rotate(90deg) translateY(5px) translateX(5px);
          transform: rotate(90deg) translateY(5px) translateX(5px);
}
.group-list input[type=checkbox] + label > svg > path {
  stroke: var(--gray-darker);
}
.nav__list input[type=checkbox]:checked + label,
.nav__list input[type=checkbox]:checked:hover + label,
.nav__list .group-list input[type=checkbox]:checked + label > a {
  color: var(--bg-blue);
}
.group-list a,
.group-list label {
  padding: 0px 25px 12px 28px;
  color: var(--gray-dark);
  font-weight: 600;
}
.group-list a {
  padding: 12px 25px 12px 28px;
}
.nav__list input[type=checkbox]:checked + label > svg > path,
.nav__list input[type=checkbox]:checked:hover + label > svg > path {
  stroke: var(--bg-blue);
  stroke-width: 3;
}
.sidenav.notready ul.nav__list .group-list,
.sidenav.notready ul.nav__list .sub-group-list,
.sidenav.notready ul.nav__list .sub-sub-group-list {
  -webkit-transition: none;
  transition: none;
}
/* end sidemenu */

#search-results {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: -0;
  background-color: var(--sidebar-bg);
  transition: 0.5s;
  box-shadow: none;
  color: var(--gray-darker);
  opacity: 0;
}
#search-results.slide-in-right {
  opacity: 1;
  right: 0px;
  width: 300px;
  box-shadow: -6px 1px 12px rgba(0,0,0,0.16);
}
.closewrap {
  position: sticky;
  top: 0;
  z-index: 3;
  cursor: pointer;
}
#search-results .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#search-results .closebtn:hover {
  color: #f1f1f1;
}
.search-content {
  padding: 10px;
}
#search-results > div > h1,
#search-results > div > h2,
#search-results > div > h3 {
}
mark {
  background-color: var(--bg-blue);
  color: #fff;
}
#results {
  position: relative;
  overflow: scroll;
  height: 100%;
  padding: 25px 10px 10px;
}
.client-content {
  margin: 67px 24px 37px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}
.fn-spacer {
  width: 100%;
  border-bottom: 1px solid #707070;
  margin: 33px 0px 24px;
  display: block;
}
.fn-spacer.hide {
  display: none;
}
.prevnav {
  display:flex;
  justify-content: space-between;
  margin-top: 33px;
}
.prevnav > a svg {
  width: 27px;
  height: 27px;
}
.prevnav > a:first-child > svg {
  margin-right: 10px;
}
.prevnav > a:last-child > svg {
  margin-left: 10px;
}
.prevnav a {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #707070;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--gray-darker);
  font-size: 15px;
  font-weight: 700;
}
.prevnav a span {
  margin-top:-3px;
}
#prevwrap.hide,
#nextwrap.hide {
  visibility: hidden;
}
a.search-item {
  text-decoration: none;
  color: var(--gray-darker);
}
section > h1,
.search-item > h1 {
  color: var(--gray-darker);
  font-size: 22px;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 27px;
}
section > h1:first-child,
.search-item > h1:first-child {
  margin-top: 0;
}
section > p,
.search-item > p {
  color: var(--gray-darker);
  font-size: 16px;
  font-family: zenon,sans-serif;
  font-weight: 500;
  line-height: 25px;
}
section > p#section-title,
.search-item > p#section-title {
  font-size: 16px;
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}
section a[name^="fnloc"],
.search-item a[name^="fnloc"] {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  margin-left: 2px;
  color: var(--bg-blue);
  font-weight: 700;
  line-height: 25px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
/*section p img[src*="-l"] { }*/
section p div.imgl,
.search-item p div.img {
  border: 1px solid #E6E6E6;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  padding: 9px;
  background-color: #F5F5F5;
  width: 100%;
  max-width: 281px;
}
section p div.imgl img,
.search-item p div.imgl img {
  max-width: 263px;
}
section p div.imgl h3,
.search-item p div.imgl h3 {
  margin: 8px 0 0 0;
  padding: 0;
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
}
content > p {
  color: var(--gray-darker);
  line-height: 25px;
}
content img {
  max-width: 100%;
}
#footnotes {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--gray-darker);
}
div#footnotes > ul {
  padding: 0;
  list-style-type: none;
}
#footnotes > ul > li {
  display: flex;
}
#footnotes > ul > li > p {
  margin: 0;
  line-height: 22px;
  font-size: 14px;
}
div.semi {
  margin: 0 4px 0 2px;
}
#footnotes > ul > li > a {
  color: var(--bg-blue);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
#footnotes > ul > li > a:after { 
  content: ":",
}
blockquote {
  margin: 25px 0 25px 25px;
  padding: 0;
  quotes: "\201C""\201D";
}
blockquote p {
  display: inline;
  font-family: zenon,sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--gray-darker);
  font-size: 16.3px;
  line-height: 25px;
  position: relative;
}
blockquote p::before {
  color: var(--bg-blue);
  content: open-quote;
  font-family: zenon,sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 47px;
  line-height: 0.1em;
  position:absolute;
  top: 22.5px;
  left: -28px;
}
blockquote br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}
footer {
  width: 100%;
  /*height: 244px;*/
  background-color: var(--bg-blue);
  color: #fff;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  border-top: 4px solid #00394A;
  display: none;
  justify-content: center;
}
footer #footwrap {
  width:100%;
  max-width: 1336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footleft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #footleftcontent {
  display: flex;
  flex-direction: row;
}
footer #footleftcontent > div {
  height: 100%;
  margin-left: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
footer h3 {
  margin: 10px 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
footer #footleftcontent > div > h3 {
  width: 160px;
  text-align: center;
}
footer img#book {
  margin-top: -45px;
  margin-left: -40px;
  max-height: 207px;
  z-index: 9;
  pointer-events: none;
}
footer img#chm {
  width: 130px;
  height: 36px;
  margin-bottom: 24px;
}
footer img.vertsep {
  margin: 0px 30px;
  width: 1.47px;
  height: 148px;
}
a.preorder {
  background-color: #EB9426;
  border-radius: 3px;
  font-size: 16px;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 9px 14px;
  display: inline-block;
  margin-top: 15px;
}
footer ul > li {
  max-width: 225px;
  font-size: 14px;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 7px;    
}
footer #footleftcontent > div > ul {
  list-style: none;
  padding-left: 0;
  display: none;
}
footer #footleftcontent > div > ul > li {
  margin-left: 15px;
}
/* Prevent nested li's from getting messed up */
footer #footleftcontent > div > ul > li::before {
  content: "- ";
  margin-left: -15px;
}
footer #additional > ul {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
}
#additional > ul > li > a {
  text-decoration: none;
  color: #fff;
}
footer #footleftbtm {
  margin: 0 0 10px 40px;
  font-size: 12px;
  line-height: 21px;
}
footer #footmid {
  height: 100%;
  display: flex;
  flex-direction: column;
}
footer #additional {
  margin-top: 10px;
}
footer #additional h3 {
  text-decoration: underline;
  display: none;
}
footer #footfb {
  display: flex;
  align-items: center;
}
footer a#footfbmobile {
  background-color: #4767B2;
  color: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 23px;
  font-size: 14px;
}
footer a#footfbmobile > img  {
  margin-left: 15px;
}
footer #footfb > #footfbdesk {
  display: none;
}
footer #footright {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}
footer #footright > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul.sub-sub-group-list {
  margin-left: 20px;
}
ul.group-list li ul.sub-group-list li ul.sub-sub-group-list li ul.sub-sub-group-list {
  padding-right: 20px;    
}
/* page conent */
.pagecontent {
  max-width: 740px;
}
.pagecontent > h1 {
  width: 100%;
  border-bottom: 4px solid #03485C;
  color: #03485C;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-size: 37px;
  font-weight: 700;
  line-height: 27px;
  padding-bottom: 9px;
  margin: 0 0 18px;
}
.pagecontent > h1.origins {
  font-size: 30px;
  margin-top: 75px;
  line-height: 37px;
}
.pagecontent > h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--gray-darker);
  line-height: 30px;
  font-size: 24px;
}
.pagecontent > h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 27px;
  font-size: 24px;
  color: #03485C;
  margin: 18px 0px;
}
.pagecontent > h4 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 27px;
  font-size: 16px;
  color: var(--gray-darker);
  margin: 0 0 18px 0;
}
.pagecontent > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--gray-darker);
  line-height: 27px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.pagecontent > p > a {
  color: #03485C;
}
.pagecontent > p > a.smt {
  font-weight: 600;
  font-style: italic;
}
.pagecontent > ul {
  list-style: none;
}
.pagecontent > ul.mrkt li::before {
  content: "\25A0";
  color: #03485C;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.pagecontent > ul > li {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--gray-darker);
  line-height: 27px;
  font-size: 16px;
}
.pagecontent > ul.mrkt > li {
  line-height: 24px;
  font-size: 15px;
}
.pagecontent > ul > li > span {
  font-weight: 700;
  color: #03485C;
}
.pagecontent > ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #03485C;
}
.pagecontent > p a.noul {
  text-decoration: none;
  font-weight: 600;
}
.pagecontent > div#fbgroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 15%;
}
.pagecontent > div.about-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.pagecontent > div.about-author > img {
  object-fit: cover;
  width: 129px;
  height: 179px;
}
.pagecontent > div.about-author > div {
  margin: 0;
}
.pagecontent > div.about-author > div > h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #03485c;
  margin: 0;
}
.pagecontent > div.about-author > div > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 0 1em 0 0;
  margin: 10px 0px;
  color: var(--gray-darker);
}

/* end page content */
/* contact */
.content.contact {
  background-color: #FAFAFA;
}
.contactcontent {
  max-width: 740px;
}
.contactcontent > h1 {
  width: 100%;
  border-bottom: 4px solid #03485C;
  color: #03485C;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-size: 37px;
  font-weight: 700;
  line-height: 27px;
  padding-bottom: 9px;
  margin: 0 0 18px;
}
.contactcontent > form[name="contact"] {
  display: flex;
  flex-direction: column;
}
.contactcontent > form[name="contact"] > div {
  width: 100%;
}
.contactcontent > form[name="contact"] > div > div {
}

.contactcontent > form[name="contact"] > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactcontent > form[name="contact"] label {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #03485c;
}
.contactcontent > form[name="contact"] input {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  color: var(--gray-darker);
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 6px 10px;
}
.contactcontent > form[name="contact"] > div > div input {
  margin-bottom: 14px;
}
.contactcontent > form[name="contact"] textarea {
  width: 100%;
  height: 124px;
  resize: none;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 6px 10px;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  color: var(--gray-darker);
}
.contactcontent > form[name="contact"] button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background: #03485c;
  border: 1px solid #d9d9d9;
  color: #fff;
  font-size: 16px;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .contactcontent > form[name="contact"] {
    flex-direction: row;
  }
  .contactcontent > form[name="contact"] > div {
    width: 50%;
  }
  .contactcontent > form[name="contact"] input {
    width: calc(100% - 42px);
  }
  .contactcontent > form[name="contact"] > div > div:not(:last-child) input {
    margin-bottom: 14px;
  }
}
/* end contact */
/* home content */
#homecontent {
  width: 100%;
}
#hometopwrap {
  position: relative;
  width: 100%;
  min-height: 437px;
  background-color: rgba(255,255,255,1);
  padding: 30px 0 50px;
}
#Rectangle_12_h {
  opacity: 0.339;
}
.Rectangle_12_h {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
#Rectangle_58_j {
	opacity: 0.132;
}
.Rectangle_58_j {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#hometop {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hometopbox {
  background-color: #03485C;
  color: #fff;
  max-width: 550px;
  padding: 23px 28px;
}
#hometopbox > h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
  margin: 0;
}
#hometopbox > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;
  margin: 10px 0; 
}
#hometopbox > p > b > i {
  font-family: acumin-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
}
#homequote {
  max-width: 348px;
  margin-left: 0px;
}
#homequote blockquote p {
  display: inline-block;
  font-family: zenon,sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--gray-darker);
  font-size: 19px;
  line-height: 27px;
  position: relative;
  text-align: center;
}
#homequote blockquote p::before,
#homequote blockquote p::after {
  color: rgba(3,72,93,0.45);
  font-family: zenon,sans-serif;
  font-weight: 400;
  font-size: 87px;
  line-height: 0.1em;
  position:absolute;
}
#homequote blockquote p::before {
  content: open-quote;
  top: 16px;
  left: -20px;
}
#homequote blockquote p::after {
  content: close-quote;
  bottom: -14px;
  right: 55px;
}
blockquote > blockquote > p {
  margin-left: -3rem;
}
blockquote > blockquote > p::before {
  display: none;
}
#belowquote {
  text-align: center;
  margin-top: 15px;
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}
#homemid {
  position: relative;
  top: 0;
}
#homemid > #homebook {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}
#homemid > #homebook > img {
  width: 100%;
  max-width: 606px;
  max-height: 455px;
  pointer-events: none;
  margin: -55px auto 0 auto;
}
#homemid > #homebook > div {
  margin: -35px auto 0;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}
#homemid > #homebook > div > h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  font-size: 30px;
  color: #03485C;
  margin: 0;
}
#homemid > #homebook > div > h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 22px;
  font-size: 18px;
  color: #0E6989;
}
#homemid > #homebook > div > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #2F2F2F;
  line-height: 22px;
  font-weight: 18px;
  margin: 0;
}
#homemid > #homebook > div > a.preorder {
  margin-top: 0;
  font-size: 26px;
  line-height: 24px;
  border-radius: 9px;
  padding: 14px 22px;
}
#homebtm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: #2F2F2F;
  padding: 0 10px 30px 10px;
}
#homebtm > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
}
ul.homelist {
  list-style: none;
  padding: 0 0 0 20px;
}
ul.homelist > li {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;  
}
ul.homelist > li::before {
  content: "\25CF";
  color: #2F2F2F;
  font-weight: bold;
  font-size: 16px;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
/* end home content */

.sidenav li.subtitle {
  padding: 10px 0px 8px 0px;
  color: var(--gray-dark);
  font-weight: 600;
}
.sidenav li.subtitle:hover {
  color: var(--gray-dark) !important;
}
table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
}
td,th {
  border: 1px solid #ddd;
  padding: 8px;
}
td {
  text-align: right;
}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--bg-blue);
  color: #fff;
}

@media screen and (min-width: 768px) {
  nav {
    height: 75px;
  }
  .navwrap {
    flex-direction: row;
  }
  .navwrap > a.logo {
    white-space: normal;
    width: 300px;
    overflow: visible;
    height: auto;
    padding: 0;
  }
  .navwrap > a.logo > div.mobile-up {
    display: block;
  }
  .navwrap > a.logo > div.mobile-only {
    display: none;
  }
  .nav {
    width: auto;
    background-color: transparent;
  }
  .navbar {
    margin-left: 0;
  }
  .navbar > a {
    height: 75px;
    /*font-size: 18px;*/
    padding: 22px 0px 0px 0px;
    margin-right: 45px;
  }
  .navbar > a:hover,
  .navbar > a.active {
    background-color: transparent;
    color: #fff;
    padding: 22px 0px 0px 0px;
    margin-right: 45px;
  }
  svg#vertical {
    height : 55px;
    width : 1.5px;
    margin: 10px 34px 0 0;
  }
  .search {
    height: auto;
    margin-left: 0;
  }
  .search > input[type="text"] {
    font-size: 16px;
  }
  #stickyside {
    width: 400px;
  }
  .sidebar  {
    left: -400px;
  }
  .sidenav {
    padding: 50px 0px 87px 50px;
  }
  .sidenav li > label > div,
  .sidenav li > label > a > div {
    padding-right: 25px;
  }
  .sidenav li.subtitle {
    margin: 0 34px 8px 58px;
  }
  .hr {
    max-width: 385px;
  }
  #menutab {
    margin-left: 50px;
  }
  .client-content {
    margin: 79px 59px 70px;
    /*max-width: 750px;*/
  }
  section > h1,
  .search-item > h1 {
    font-size: 26px;
  }
  section > p,
  .search-item > p {
    font-size: 18px;
    line-height: 29px;
  }
  section > p#section-title,
  .search-item > p#section-title {
    font-size: 18px;
  }
  blockquote p {
    font-size: 18.3px;
    line-height: 29px;
  }
  #homemid > #homebook > img {
    margin: -70px auto 0 auto;
  }
  #homebtm {
    padding: 0 0 65px;
  }
  .pagecontent > h1.origins {
    /*line-height: 37px;*/
  }
  .pagecontent > div.about-author {
    flex-direction: row;
    margin-bottom: 60px;
  }
  .pagecontent > div.about-author > div {
    margin: 0 0 0 53px;
  }
  .pagecontent > div.about-author > div > h3 {
    font-size: 22px;
  }
  .pagecontent > div.about-author > div > p {
    font-size: 16px;
    line-height: 27px;
    margin: 16px 0px;
  }
  footer {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .client-content {
    margin: 79px 146px 100px;
  }
  .navwrap > a.logo {
    width: 375px;
  }
  p#section-title {
    font-size: 20px;
  }
  footer img.vertsep {
    margin: 0px 39px;
  }
  #hometopwrap {
    height: 437px;
    overflow: hidden;
    padding: 0;
  }
  #hometop {
    flex-direction: row;
  }
  #homequote {
    margin-left: 36px;
  }
  #hometopbox {
    max-height: 294px;
  }
  #homemid > #homebook {
    flex-direction: row;
  }
  #homemid > #homebook > img {
    max-width: 606px;
    max-height: 455px;
    margin: -65px 0 0 -175px;
  }
  #homemid > #homebook > div {
    margin: 40px 0 0 -100px;
    max-width: 400px;
    padding: 0;
  }
  #homebtm {
    padding: 0 0 75px;
  }
}
@media screen and (min-width: 1100px) {
  #menutab {
    /*opacity: 0;
    pointer-events: none;*/
  }
  .sidebar {
   /*left: 0px !important;*/
   left: -400px;
   opacity: 1;
   /*box-shadow: 6px -1px 12px rgba(0,0,0,0.16);*/
  }
  .sidebar.slide-in-left  {
    left: 0;
    opacity: 1;
    box-shadow: 6px -1px 12px rgba(0,0,0,0.16);
  }
  /*
  .sidebar.desktop {
    left: 0px;
    box-shadow: 6px -1px 12px rgba(0,0,0,0.16);
  }
  */
  .client-content {
    margin: 46px 146px 100px 455px;
  }
  .client-content > section,
  .client-content > .prevnav {
    max-width: 750px;
  }
  section > h1,
  .search-item > h1 {
    font-size: 24px;
  }
  section > p,
  .search-item > p {
    font-size: 16px;
    line-height: 25px;
  }
  section > p#section-title,
  .search-item > p#section-title {
    font-size: 20px;
  }
  blockquote p {
    font-size: 16.3px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .navwrap {
    max-width: 85%;
  }
  p#section-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1366px) {
  footer {
    height: 244px;
  }
  footer #footleftbtm {
    margin: 0 0 10px 100px;
  }
  footer img#book {
    margin-top: -55px;
    margin-left: 0px;
    max-height: 248px;
  }
  footer h3 {
    margin: 10px 0 0;
    font-size: 20px;
  }
  footer #footleftcontent > div {
    width: 280px;
    margin-left: -80px;
    align-items: flex-start;
    margin-top: 10px;
  }
  footer #footleftcontent > div > h3 {
    width: auto;
    text-align: left;
  }
  footer #footleftcontent > div > ul {
    display: block;
  }
  footer img.vertsep {
    height: 192.76px;
  }
  footer #footmid {
    display: flex;
    flex-direction: row;
  }
  footer #additional {
    width: 210px;
  }
  footer #additional h3 {
    display: block;
  }
  footer #additional > ul {
    margin-left: 0;
  }
  footer ul > li {
    font-size: 17px;    
  }
  footer #footfb {
    height: 100%;
    margin-left: 32px;
  }
  footer a#footfbmobile {
    display: none;
  }
  footer #footfb > #footfbdesk {
    display: flex;
  }
  footer img#chm {
    width: 130px;
    height: 36px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1640px) {
  .client-content {
    margin: 79px 0px 100px 30%;
  }
}