<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include_cached head.html -%}
  <body>
    {%- if page.name == "contribute.md" -%}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="Z3rH4fbG"></script>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=258645622118315&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {%- endif -%}
    {%- include nav.html -%}
    <div class="main">
        {%- if page.name == "index.md" -%}
          {%- include home.html -%}
        {%- endif -%}
        {%- if page.name == "contribute.md" -%}
          {%- include contribute.html -%}
        {%- endif -%}
      {% comment %}
      <div id="stickyside">
        <div id="menutab" onclick="sidemenu();">
          <div id="burg" class="burg burg--spin">
            <div class="burg-box">
              <div class="burg-inner"></div>
            </div>
          </div>
        </div>
        <div class="sidebar">{%- include sidenav.html -%}</div>
      </div>
      {% endcomment %}

      <div id="search-results">
        <div class="closewrap">
          <div class="closebtn" onclick="hideResults()">×</div>
        </div>
        <div id="results"></div>
      </div>

    </div>
    {%- include_cached footer.html -%}
  {% comment %}<script src="{{ site.baseurl}}/assets/app.js"></script>{% endcomment %}
  <script src="{{ site.baseurl}}/assets/page.js"></script>
  <script src="{{ site.baseurl}}/assets/search.js"></script>
  </body>
</html>


