<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
  {%- include nav.html -%}
    <div class="main">
  {%- if page.name == "index.md" or page.name == "search.md" -%}
    {%- include home.html -%}
  {%- endif -%}
  {%- if page.name == "about.md" -%}
    {%- include about.html -%}
  {%- endif -%}
  {%- if page.name == "contact.md" -%}
    {%- include contact.html -%}
  {%- endif -%}
  {%- if page.name == "table-of-contents.md" -%}
    {%- include table-of-contents.html -%}
  {%- endif -%}
      <div id="stickyside">
        <div id="menutab" onclick="sidemenu();">
          <div id="burg" class="burg burg--spin">
            <div class="burg-box">
              <div class="burg-inner"></div>
            </div>
          </div>
        </div>
        <div class="sidebar animated">
          <div class="sidenav ready">{%- include_cached sidenav.html -%}</div>
        </div>
      </div>
      <div id="search-results">
        <div class="closewrap">
          <div class="closebtn" onclick="hideResults()">×</div>
        </div>
        <div id="results"></div>
      </div>
    </div>
  {%- include_cached footer.html -%}
  <script src="{{ site.baseurl}}/assets/page.js"></script>
  <script src="{{ site.baseurl}}/assets/search.js"></script>
  {%- if page.name == "contact.md" -%}
  <script src="{{ site.baseurl}}/assets/contact.js"></script>
  {%- endif -%}
  </body>
</html>


